<h1 class="text-center mt-4 mb-4">Login</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_with(scope: :session, url: login_path, local: true) do |f| %>

        <!-- <div class="form-group row">
          #<%= f.label :email, class: "col-2 col-form-label" %>
          #<div class="col-10">
           # <%= f.email_field :email, class: "form-control shadow", placeholder: "Enter your email" %>
          #</div>
        </div> -->

        <div class="form-group row">
          <%= f.label :username, class: "col-2 col-form-label" %>
          <div class="col-10">
            <%= f.text_field :username, class: "form-control shadow", placeholder: "Enter a username" %>
          </div>
        </div>

        <br>

        <div class="form-group row">
          <%= f.label :password, class: "col-2 col-form-label" %>
          <div class="col-10">
            <%= f.password_field :password, class: "form-control shadow", placeholder: "Enter your password" %>
          </div>
        </div>

        <br>

        <div class="form-group row justify-content-center">
          <%= f.submit "Login", class: "btn btn-primary btn-lg shadow" %>
        </div>

        <br>

      <% end %>
    </div>
    
    <div class="text-center">
      <%= link_to 'Cancel', users_path, class: "btn btn-danger shadow" %>
    </div>
  </div>
</div>