<div class="container">
  <% @articles.each do |article| %>
    <div class="justify-content-md-center">
      <div class="col-8 mx-auto">
        <div class="card text-center shadow mt-3 mb-5 bg-white rounded">
          <div class="card-header fst-italic">
            by <%= link_to article.user.username, user_path(article.user) %>
            <% if article.categories.any? %>
              <div class="mt-2">
                <%= render article.categories %>
              </div>
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="btn btn-outline-success card-title"><%= link_to article.title, article_path(article), class: "text-dark text-decoration-none"%></h5>
            <p class="card-text"><%= truncate(article.description, length: 100) %></p>
            <%= link_to 'View', article_path(article), class: "btn btn-success" %>

            <% if logged_in? && article.user == current_user %>
              <%= link_to 'Edit', edit_article_path(article), class: "btn btn-primary" %>
            <% end %>

            <% if logged_in? && (article.user == current_user || current_user.admin?) %>
              <%= link_to 'Delete', article_path(article), class: "btn btn-danger", data: { "turbo-method": :delete, "turbo_confirm": "Are you sure you wish to delete?" } %>
            <% end %>
          </div>

          <div class="card-footer text-muted">
            <small> Created <%= time_ago_in_words(article.created_at) %> ago, edited <%= time_ago_in_words(article.updated_at) %> ago</small>
          </div
        </div>
      </div>
    </div>
  <% end %>
</div>