<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors' %>
      <%= form_with(model: @article, local: true) do |f| %>
        <div class="form-group row">
          <%= f.label :title, class: "col-2 col-form-label" %>
          <div class="col-10">
            <%= f.text_field :title, class: "form-control shadow", placeholder: "Title of article" %>
          </div>
        </div>

        <br>

        <div class="form-group row">
          <%= f.label :description, class: "col-2 col-form-label" %>
          <div class="col-10">
            <%= f.text_area :description, rows: 10, class: "form-control shadow", placeholder: "Description of article" %>
          </div>
        </div>

        <br>

        <div class="form-group row justify-content-center">
          <%= f.submit class: "btn btn-primary btn-lg shadow" %>
        </div>

        <br>

      <% end %>
    </div>
    
    <div class="text-center">
      <%= link_to 'Cancel', articles_path, class: "btn btn-danger shadow" %>
    </div>
  </div>
</div>