<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <%= link_to 'Home', root_path, class: "nav-link px-2 text-muted" %>
      <%= link_to 'Articles', articles_path, class: "nav-link px-2 text-muted" %>
      <%= link_to 'Bloggers', users_path, class: "nav-link px-2 text-muted" %>
      
      <% if logged_in? %>
        <%= link_to 'Account', user_path(current_user), class: "nav-link px-2 text-muted" %>
      <% else %>
        <%= link_to 'Join', join_path, class: "nav-link px-2 text-muted" %>
      <% end %>

      <%= link_to 'About', about_path, class: "nav-link px-2 text-muted" %>
    </ul>
    <p class="text-center text-muted">© 2022 Denis Chernyavsky</p>
  </footer>
</div>